{% if status %}
   <span class="bg-strava text-white font-medium text-sm p-2 rounded">Connected</span>
{% else %}
   <span class="bg-gray-300 font-medium text-sm p-2 rounded">Disconnected</span>
{% endif %}
